@media screen and (min-width: 1000px) {
  section > a {
    height: 40vh;
    margin: auto;
  }
  
  body {
    max-height: 100vh;
    max-width: 100vw;
  }
  
  section {
    height: 50vh;
    display: grid;
  }
  
}

section > a > img{
  height: 50vh;
  margin: auto;
}

body {
  background-color: #282c34;
  background-image: url('./background.png');
  font-family: 'Open Sans', sans-serif;
}

p, a, i {
  text-align: center;
  color: black !important;
  text-decoration: none !important;
}

img {
  max-width: 100vw;
  height: auto;
}